.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header > .logo {
  margin: 10px 20px;
  color: #e4e4e4;
  font-style: oblique;
  font-size: 4em;
}

.header .header-details {
  margin-top: 20px;
  flex-grow: 1;
  text-align: right;
}

.header .header-details > .navbar {
  display: flex;
  align-items: stretch;
}

.header .border-extend {
  flex-grow: 1;
  border-bottom: 1px solid #303030;
  margin-bottom: 16px;
}

.header .navbar .ant-tabs {
  width: 200px;
}

.header > .header-details > .socials {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.header > .header-details > .socials svg,
.header > .header-details > .socials img {
  color: #e4e4e4;
  height: 1.5rem;
  font-size: 1.5rem;
  margin: 8px 15px;
}
.header .tblr-icon {
  opacity: .81;
}

/* really hacky stuff to get the link clickable on the whole tab do not look */
.header .navbar .ant-tabs-tab {
  padding: 0;
}

.header .navbar .ant-tabs-tab-btn {
  padding: 12px 0;
}

.header .navbar .ant-tabs-tab-btn > a {
  padding: 12px 0;
}
